@use "../utilities/variables" as v

.formContainer
  &__body
    &__imageHandler
      display: flex
      flex-direction: column
      align-items: center
      &--image
        width: 100px
        height: 100px
        outline: solid 2px black
        border-radius: 50%
        background-color: grey
      &--input